:root {
    --background: hsla(0, 0%, 100%, 1);
    --background-active: rgba(141, 141, 141, 0.5);
    --background-brand: hsla(219, 99%, 53%, 1);
    --background-hover: rgba(141, 141, 141, 0.12);
    --background-inverse: hsla(0, 0%, 22%, 1);
    --background-inverse-hover: hsla(0, 0%, 28%, 1);
    --background-selected: rgba(141, 141, 141, 0.2);
    --background-selected-hover: rgba(141, 141, 141, 0.32);
    --border-disabled: hsla(0, 0%, 78%, 1);
    --border-interactive: hsla(219, 99%, 53%, 1);
    --border-inverse: hsla(0, 0%, 9%, 1);
    --border-strong-01: hsla(0, 0%, 55%, 1);
    --border-strong-02: hsla(0, 0%, 55%, 1);
    --border-strong-03: hsla(0, 0%, 55%, 1);
    --border-subtle-00: hsla(0, 0%, 88%, 1);
    --border-subtle-01: hsla(0, 0%, 88%, 1);
    --border-subtle-02: hsla(0, 0%, 88%, 1);
    --border-subtle-03: hsla(0, 0%, 88%, 1);
    --border-subtle-selected-01: hsla(0, 0%, 78%, 1);
    --border-subtle-selected-02: hsla(0, 0%, 78%, 1);
    --border-subtle-selected-03: hsla(0, 0%, 78%, 1);
    --border-tile-01: hsla(0, 0%, 78%, 1);
    --border-tile-02: hsla(0, 0%, 66%, 1);
    --border-tile-03: hsla(0, 0%, 78%, 1);
    --field-01: hsla(0, 0%, 96%, 1);
    --field-02: hsla(0, 0%, 100%, 1);
    --field-03: hsla(0, 0%, 96%, 1);
    --field-hover-01: hsla(0, 0%, 91%, 1);
    --field-hover-02: hsla(0, 0%, 91%, 1);
    --field-hover-03: hsla(0, 0%, 91%, 1);
    --focus: hsla(219, 99%, 53%, 1);
    --focus-inset: hsla(0, 0%, 100%, 1);
    --focus-inverse: hsla(0, 0%, 100%, 1);
    --highlight: hsla(217, 100%, 91%, 1);
    --icon-disabled: rgba(22, 22, 22, 0.25);
    --icon-inverse: hsla(0, 0%, 100%, 1);
    --icon-on-color: hsla(0, 0%, 100%, 1);
    --icon-on-color-disabled: hsla(0, 0%, 55%, 1);
    --icon-primary: hsla(0, 0%, 9%, 1);
    --icon-secondary: hsla(0, 0%, 32%, 1);
    --interactive: hsla(219, 99%, 53%, 1);
    --layer-01: hsla(0, 0%, 96%, 1);
    --layer-02: hsla(0, 0%, 100%, 1);
    --layer-03: hsla(0, 0%, 96%, 1);
    --layer-accent-01: hsla(0, 0%, 88%, 1);
    --layer-accent-02: hsla(0, 0%, 88%, 1);
    --layer-accent-03: hsla(0, 0%, 88%, 1);
    --layer-accent-active-01: hsla(0, 0%, 66%, 1);
    --layer-accent-active-02: hsla(0, 0%, 66%, 1);
    --layer-accent-active-03: hsla(0, 0%, 66%, 1);
    --layer-accent-hover-01: hsla(0, 0%, 82%, 1);
    --layer-accent-hover-02: hsla(0, 0%, 82%, 1);
    --layer-accent-hover-03: hsla(0, 0%, 82%, 1);
    --layer-active-01: hsla(0, 0%, 78%, 1);
    --layer-active-02: hsla(0, 0%, 78%, 1);
    --layer-active-03: hsla(0, 0%, 78%, 1);
    --layer-hover-01: hsla(0, 0%, 91%, 1);
    --layer-hover-02: hsla(0, 0%, 91%, 1);
    --layer-hover-03: hsla(0, 0%, 91%, 1);
    --layer-selected-01: hsla(0, 0%, 88%, 1);
    --layer-selected-02: hsla(0, 0%, 88%, 1);
    --layer-selected-03: hsla(0, 0%, 88%, 1);
    --layer-selected-disabled: hsla(0, 0%, 55%, 1);
    --layer-selected-hover-01: hsla(0, 0%, 82%, 1);
    --layer-selected-hover-02: hsla(0, 0%, 82%, 1);
    --layer-selected-hover-03: hsla(0, 0%, 82%, 1);
    --layer-selected-inverse: hsla(0, 0%, 9%, 1);
    --link-inverse: hsla(218, 100%, 74%, 1);
    --link-inverse-active: hsla(0, 0%, 96%, 1);
    --link-inverse-hover: hsla(217, 100%, 83%, 1);
    --link-primary: hsla(219, 99%, 53%, 1);
    --link-primary-hover: hsla(220, 100%, 40%, 1);
    --link-secondary: hsla(220, 100%, 40%, 1);
    --link-visited: hsla(264, 97%, 62%, 1);
    --overlay: rgba(22, 22, 22, 0.5);
    --shadow: rgba(0, 0, 0, 0.3);
    --skeleton-background: hsla(0, 0%, 91%, 1);
    --skeleton-element: hsla(0, 0%, 78%, 1);
    --support-caution-major: hsla(25, 100%, 58%, 1);
    --support-caution-minor: hsla(47, 88%, 53%, 1);
    --support-caution-undefined: hsla(264, 97%, 62%, 1);
    --support-error: hsla(357, 76%, 49%, 1);
    --support-error-inverse: hsla(357, 95%, 64%, 1);
    --support-info: hsla(220, 100%, 40%, 1);
    --support-info-inverse: hsla(218, 100%, 64%, 1);
    --support-success: hsla(137, 63%, 39%, 1);
    --support-success-inverse: hsla(137, 49%, 50%, 1);
    --support-warning: hsla(47, 88%, 53%, 1);
    --support-warning-inverse: hsla(47, 88%, 53%, 1);
    --text-disabled: rgba(22, 22, 22, 0.25);
    --text-error: hsla(357, 76%, 49%, 1);
    --text-helper: hsla(0, 0%, 44%, 1);
    --text-inverse: hsla(0, 0%, 100%, 1);
    --text-on-color: hsla(0, 0%, 100%, 1);
    --text-on-color-disabled: hsla(0, 0%, 55%, 1);
    --text-placeholder: rgba(22, 22, 22, 0.4);
    --text-primary: hsla(0, 0%, 9%, 1);
    --text-secondary: hsla(0, 0%, 32%, 1);
    --toggle-off: hsla(0, 0%, 55%, 1);
}
@media screen and (prefers-color-scheme: dark) {
    :root {
    --background: #161616;
    --background-active: rgba(141, 141, 141, 0.4);
    --background-brand: #0f62fe;
    --background-hover: rgba(141, 141, 141, 0.16);
    --background-inverse: #f4f4f4;
    --background-inverse-hover: #e8e8e8;
    --background-selected: rgba(141, 141, 141, 0.24);
    --background-selected-hover: rgba(141, 141, 141, 0.32);
    --border-disabled: rgba(141, 141, 141, 0.5);
    --border-interactive: #4589ff;
    --border-inverse: #f4f4f4;
    --border-strong-01: #6f6f6f;
    --border-strong-02: #8d8d8d;
    --border-strong-03: #a8a8a8;
    --border-subtle-00: #393939;
    --border-subtle-01: #393939;
    --border-subtle-02: #525252;
    --border-subtle-03: #6f6f6f;
    --border-subtle-selected-01: #525252;
    --border-subtle-selected-02: #6f6f6f;
    --border-subtle-selected-03: #8d8d8d;
    --border-tile-01: #525252;
    --border-tile-02: #6f6f6f;
    --border-tile-03: #8d8d8d;
    --field-01: #262626;
    --field-02: #393939;
    --field-03: #525252;
    --field-hover-01: #333333;
    --field-hover-02: #474747;
    --field-hover-03: #636363;
    --focus: #ffffff;
    --focus-inset: #161616;
    --focus-inverse: #0f62fe;
    --highlight: #002d9c;
    --icon-disabled: rgba(244, 244, 244, 0.25);
    --icon-inverse: #161616;
    --icon-on-color: #ffffff;
    --icon-on-color-disabled: rgba(255, 255, 255, 0.25);
    --icon-primary: #f4f4f4;
    --icon-secondary: #c6c6c6;
    --interactive: #4589ff;
    --layer-01: #262626;
    --layer-02: #393939;
    --layer-03: #525252;
    --layer-accent-01: #393939;
    --layer-accent-02: #525252;
    --layer-accent-03: #6f6f6f;
    --layer-accent-active-01: #6f6f6f;
    --layer-accent-active-02: #8d8d8d;
    --layer-accent-active-03: #393939;
    --layer-accent-hover-01: #474747;
    --layer-accent-hover-02: #636363;
    --layer-accent-hover-03: #5e5e5e;
    --layer-active-01: #525252;
    --layer-active-02: #6f6f6f;
    --layer-active-03: #8d8d8d;
    --layer-hover-01: #333333;
    --layer-hover-02: #474747;
    --layer-hover-03: #636363;
    --layer-selected-01: #393939;
    --layer-selected-02: #525252;
    --layer-selected-03: #6f6f6f;
    --layer-selected-disabled: #a8a8a8;
    --layer-selected-hover-01: #474747;
    --layer-selected-hover-02: #636363;
    --layer-selected-hover-03: #5e5e5e;
    --layer-selected-inverse: #f4f4f4;
    --link-inverse: #0f62fe;
    --link-inverse-active: #161616;
    --link-inverse-hover: #0043ce;
    --link-primary: #78a9ff;
    --link-primary-hover: #a6c8ff;
    --link-secondary: #a6c8ff;
    --link-visited: #be95ff;
    --overlay: rgba(0, 0, 0, 0.65);
    --shadow: rgba(0, 0, 0, 0.8);
    --skeleton-background: #292929;
    --skeleton-element: #393939;
    --support-caution-major: #ff832b;
    --support-caution-minor: #f1c21b;
    --support-caution-undefined: #a56eff;
    --support-error: #fa4d56;
    --support-error-inverse: #da1e28;
    --support-info: #4589ff;
    --support-info-inverse: #0043ce;
    --support-success: #42be65;
    --support-success-inverse: #24a148;
    --support-warning: #f1c21b;
    --support-warning-inverse: #f1c21b;
    --text-disabled: rgba(244, 244, 244, 0.25);
    --text-error: #ff8389;
    --text-helper: #a8a8a8;
    --text-inverse: #161616;
    --text-on-color: #ffffff;
    --text-on-color-disabled: rgba(255, 255, 255, 0.25);
    --text-placeholder: rgba(244, 244, 244, 0.4);
    --text-primary: #f4f4f4;
    --text-secondary: #c6c6c6;
    --toggle-off: #6f6f6f,
  }
}
